<%= render 'error_messages', record: @post  %>

<%= form_for @post do |f| %>
  <div class="post-form-title">
    <%= f.label :title, t('labels.post.title') %>
    <%= f.text_field :title %>
  </div>

  <div class="post-form no-separator">
    <%= f.label :body, t('labels.post.body') %>
    <%= f.text_field :body %>
    <%= f.submit class: 'button' %>
    <%= link_to t('links.post.cancel'), posts_path %>
  </div>



<% end %>
