<div class="page">
    <div class="h1-show">
      <%= @post.title %>
    </div>

    <div class="show-date">
      <%= l(@post.created_at, :format => :short) %>
    </div>

    <div class="email-show">
      <%= @post.user.email %>
    </div>
</div>

<p>
  <%= @post.body %>
</p>

  <% if user_signed_in?%>
    <%= link_to 'Editar', edit_post_path %>|
    <%= link_to 'Deletar', post_path(@post), method: :delete, data: {confirm: 'Tem certeza que deseja excluir?'} %>|
    <%= link_to 'Voltar', root_path %>
  <% else %>
    <%= link_to 'Voltar', posts_path %>
  <% end %>


<%- disqus_thread %>
