<div class="page">
    <div class="h1-show">
      <%= @post.title %>
    </div>

    <div class="show-date">
      <%= l(@post.created_at, :format => :short) %>
    </div>

    <div class="email-show">
      <%= @post.user.email %>
    </div>
</div>

<p>
   <%= sanitize (coderay(@post.body)) %>
</p>

  <%= render 'show_user_login' %>
  <%- disqus_thread %>
