<!DOCTYPE html>
<html>
  <head>
    <title>Newblog</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <%= disqus_init %>
  </head>

  <body>
    <div class="page">
    <%= render 'main_header' %>
    <%= render 'flash_messages' %>

    <%= yield %>

    <footer>
      <p>
        Textos escritos por
        <%= link_to 'Ariśtóteles Coutinho', about_index_path %>
      </p>
    </footer>

    </div>
  </body>
</html>
